<!--Account Information-->
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="account-name"><b>{{'account.management.name' |translate}} *</b></label>
      <input id="account-name" name="nameAccount" ng-model="account.nameAccount" type="text" class="form-control"
             placeholder="{{'account.management.name' | translate }}" required>
      <div class="has-warning"><span class="help-block"
                                     ng-show="accountForm.nameAccount.$invalid && !accountForm.nameAccount.$pristine ">{{'lbl.required'|translate}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="account-address"><b>{{'account.management.address' | translate}}</b></label>
      <input id="account-address" name="address" ng-model="account.address" type="text" class="form-control"
             placeholder="{{'account.management.address' | translate }}">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-phone-number"><b>{{'account.management.phoneNumber' | translate}}</b></label>
      <input id="account-phone-number" name="phoneNumber" ng-model="account.phoneNumber" type="text"
             class="form-control" placeholder="{{'account.management.phoneNumber' | translate }}" required>
      <div class="has-warning"><span class="help-block"
                                     ng-show="accountForm.phoneNumber.$invalid && !accountForm.phoneNumber.$pristine">{{'lbl.required'|translate}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="account-email"><b>{{'account.management.email' | translate}}</b></label>
      <input id="account-email" name="email" ng-model="account.email" type="email" class="form-control"
             placeholder="{{'account.management.email' | translate }}" required
             ng-pattern="/^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{1,5}){1,25})+()*$/"
             ng-keypress="blockSpace($event)">
      <div class="has-warning"><span class="help-block"
                                     ng-show="accountForm.email.$invalid && !accountForm.phoneNumber.$pristine">{{'lbl.invalid.email'|translate}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-12 form-inline-box">
    <div class="col-md-6">
      <div class="form-group">

        <label for="user-name-account"><b>{{'userManagement.user.username' | translate }} *</b></label>
        <input id="user-name-account" name="userLoginName" ng-model="account.user.username" type="text"
               class="form-control" ng-change="credentials.userId = credentials.userId .split(' ').join('')"
               ng-trim="false" placeholder="{{'userManagement.user.username' | translate }}" lowercase required>
        <div class="has-warning"><p class="help-block"
                                    ng-show="accountForm.userLoginName.$invalid && !accountForm.userLoginName.$pristine">
          {{'lbl.required'|translate}}</p></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" ng-show="account.id==null">
        <label for="user-account-password"><b>{{'password' | translate }} *</b></label>
        <input id="user-account-password" name="password" ng-model="account.user.password" type="password"
               class="form-control" placeholder="{{'userManagement.user.password' | translate }}" required>
        <div class="has-warning"><p class="help-block"
                                    ng-show="accountForm.password.$invalid && !accountForm.password.$pristine">
          {{'lbl.required'|translate}}</p></div>
      </div>
    </div>
  </div>
</div>
