    <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--<h2 class="modal-title">{{ 'pending.changes' | translate }}</h2>-->
        {{ 'configDevice.dialog.content' | translate }}
    </div>
    <div class="modal-footer">
        <input type="button" class="btn-sm btn btn-warning btn-link-special" ng-click="loseChanges()" value="{{ 'configDevice.dialog.loseChanges' | translate }}"/>
        <input type="button" class="btn-sm btn btn-primary btn-link-special" ng-click="saveChanges()" value="{{ 'configDevice.dialog.saveChanges' | translate }}"/>
    </div>
